{% extends 'base.html.twig' %}

{% block title %}Список пользователей{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Список пользователей</h1>

        {% if users is empty %}
            <div class="alert alert-info">Пользователи не найдены.</div>
        {% else %}
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>id</th>
                            <th>Имя</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ user.getName }}</td>
                                <td width="17%">
                                <a href="{{ path('show_user', { id:user.getId }) }}" class="btn btn-sm btn-success">
                                Просмотр</a>
                                <a href="{{ path('edit_user', { id:user.getId }) }}" class="btn btn-sm btn-danger">
                                Редактировать</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}